body{
    padding:0px;
    margin: 0px 140px;
}
#page{
  
}
header{
    height:0px;
    background-image: url('banner.png');
    background-size: 100% 100%;
    padding-bottom:13%;
    
}
nav{
    line-height: 40px;
    background-color: orangered;
    text-align:center;
    font-variant:small-caps;
    font-size: larger;
    color:white;
    
}
section{
    width: 100%;
}
article{
    min-height:400px;
    width:80%;
    background-color:white;
    float:left;
}
aside{
    min-height: 800px;
    width:20%;
    background-color:lightgray;
    float:right;
   

}
footer{
    border-top:5px double orangered;
    line-height:50px;
    background-color:  #06B7BF ;
    text-align:right;
    clear:both;
}
nav>a{
    color: white;
    text-decoration: none;
    margin: 0 5px; 
    font-weight: bold;
    font-size: 23px;
}
nav>a:hover{
    color: yellow;
    text-decoration: underline;
}
iframe[name=page]{
    width: 100%;
    min-height: 400px;  
}
.top-right{
    position: relative;;
    Top:0px;
    Right:0px;
    Border-bottom-left-radius: 30px;
    background-color: rgb(25, 25, 134);
}  
iframe[name=page]{
    width: 100%;
    min-height: 400px;  
}
/*Menu trong aside*/
ul.vmenu{
    margin:0px;
    padding:5px;
    border-radius: 5px;
    box-shadow: 0 0 5px orange;
    list-style: none;
}
ul.vmenu>li>a{
    display: block;
    line-height: 60px;
    text-decoration: none;
    font-variant: small-caps;
    color: orangered;
    padding-left: 50px;
    border-bottom: 1px dotted orangered;
    
}
ul.vmenu>li>a:hover{
 
    font-weight: bold;
    color: red
}
/*bài 2 lab 7*/

.col-25{
    width:30%;
    float:left;
}
.prod{
     border-radius: 5px;
     box-shadow:0 0 3px gray;
     margin: 10px 10px 50px 20px;
     padding: 30px 20px;
     text-align:center;
     position: relative;
     
}


  
a{
    text-decoration: none;
  
}


.col-25>.prod a>.name{
    color:black;
    font-size: 25px;
    position: relative;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.col-25>.prod a>.name:hover{
font-weight: bold;
}


.prod .image{
     max-width: 100%;
     margin-bottom: 10px;
     height: 250px;
}
.prod>.price{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-align: center;
    left: 15px;
    top: 220px;
    font-size: 30px;
    color:blue;
    margin: 10px;
}
 .prod .icons{
    position: relative;
    left: 100px;
    top: 10px;
    width: 50px;
    
}

.top-right{
    Position:absolute;
    Top: 10px;
    Right:0px;
    Border-bottom-left-radius: 30px;
    right: 50px;
}
.company-info{
    
        color:white;
        text-shadow: 0 0 10px orangered;
        font-size: x-large;
        font-weight: 300;
        position: absolute;
        left: 15px;
        top: 180px;  
        font-variant:small-caps; 
        font-size: 40px;
        line-height: 2px;   
        text-decoration: orangered;  
        font-weight: bold;            
}    
.company-info h5{     
    color:orangered;
    text-shadow: 20px 20px 30px black;
    font-size: x-large;
    font-weight: 100;
    position: absolute;
    left: 15px;
    font-variant:small-caps; 
    font-size: 20px;
    letter-spacing: 20px; 
    text-decoration: orangered;  
    font-weight: bold;    
    top: 90px;
      
}     

.menu>ul>li{
    display: inline-block;
}
.menu>ul>li>a{
    display: block;
}
.menu>ul{
      padding: 0px;
      margin: 0px;
      list-style: none;
      border-radius: 3px;
      background-color: orangered;
      text-align: center;
    
      
} 
 .menu>ul>li>a{
    text-decoration: none;
  
    font-size: large;
    color: white;
    padding: 0 10px;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
}
.menu>ul>li>a:hover{
    color: yellow;
} 
.menu ul ul{
    position: absolute;
    display: none;
    padding: 2px;
    margin: 0px;
    list-style: none;
    border-radius:3px;
    width: 150px;
   
    background-color:orangered;
    box-shadow:0 0 1px gray;

}
.menu ul ul a{
    display:block;
    line-height: 18px;
    color:whitesmoke;
    text-decoration:none;
    font-size:23px;
    padding: 5px 5px;
    font-weight: bold;

}
.menu>ul>li:hover>ul{
    display: block;
    z-index: 1;
} 
.menu ul ul a:hover{
    color: yellow;
    font-weight: bold;
    
}
.form-group{
    margin: 10px 2px;

}
.form-control{
    margin:5px 0px;
    padding: 15px 300px;
    border: none;
    width: 200px;
    box-shadow: #06B7BF ;
    outline:none;
    border: 1px solid gray;
    border-radius: 3px;
   
}

.form-group label{
    font-weight:bold;
    font-variant:small-caps;
}
.form-control:focus{
    
    box-shadow:0px 0px 5px orangered;
    border: 1px solid black;
}
.form-button{ 
    margin: 20px 0px;
    padding: 15px 40px;
    outline:none;
    border:none;
    border-radius:20px;
    font-weight:bold;
    background-color:white;
    color:orangered;
    box-shadow:inset 0px 0px 20px #06B7BF;
}
.form-button:hover{
    color:blue;
    box-shadow:inset 0px 0px 20px orangered;
}
.form-button:disabled{
    color:darkgray;
    box-shadow:inset 0px 0px 20px gray;
}
table{
        border: 1px solid green;
        width: 85%;
        line-height: 50px;
        bottom: 40px;
}
td, th{
    border: 1px solid green;
}


tr:first-child{
    background-color: green;
    width:100px;
}

.container>a{
   
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    color:blue;
   
    
}
.container{
   
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    margin: 60px 80px 40px 10px;
    color:blue;
}
.container>a:hover{
    color:orangered;
    font-weight: bold;
   
}
.column{
    width: 300px;
    height: 290px;
    border: 1px solid black;
    float: left;
    margin: 30px 15px 150px 5px; 
    text-decoration: none;
  

}
.column2{
    width: 300px;
    height: 290px;
    border: 1px solid black;
    float: left;
    margin: 30px 15px 150px 5px;
    text-decoration: none;
}
.column3{
    width: 300px;
    height: 290px;
    border: 1px solid black;
    float: left;
    margin: 30px 15px 150px 5px;  
    text-decoration: none;
}
.column4{
    width: 95%;
    background-color: lightgray;
   
    float: left;
    margin: 30px 15px 150px 5px;  
    text-decoration: none;
}
.column a{
    text-decoration: none;
    color: blue;
}
.column2 a{
    text-decoration: none;
    color: blue;
}
.column3 a{
    text-decoration: none;
    color: blue;

}
.column>.ndd>a:hover{
    font-weight: bold;
    text-decoration: none;
}
.column2>.ndd>a:hover{
    font-weight: bold;
    text-decoration: none;
}
.column3>.ndd>a:hover{
    font-weight: bold;
    text-decoration: none;
   
}
.gt{
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 0px 2px orangered;
    color: black;
    font-weight: bold;
}
.nd{
    font-size: 17px;
    margin: 20px;
}
.ndd{
    text-align: center;
    color: blue;
    margin: 20px 0px;
    font-size: 20px;

}
.nd1{
   
    margin: 30px 20px;
}
.nd1>ul>li>a{
   text-decoration: none;
   color:rgb(39, 39, 117);
   font-size: 20px
  
}
.nd1>ul>li>a:hover{
color: orangered;
font-weight: bold;
text-decoration: underline;
}

